version: "1.0"
services:
  backend:
    build: ./backend
    ports:
      - 8010:22
      - 8000:8000
    volumes:
      - E:\workspace\mycompany\backend:/app
    environment:
      - TZ=Asia/Shanghai
    networks:
      hx_net:
        ipv4_address: 172.0.0.2
  #frontend: 前端远程延迟大，以后只做发布，不做开发
  #  build: ./frontend_dev
  #  ports:
  #    - 8011:22
  #    - 8002:8002
  #  volumes:
  #    - E:\workspace\mycompany\frontend:/app
  #  environment:
  #    - TZ=Asia/Shanghai
  #  networks:
  #    hx_net:
  #      ipv4_address: 172.0.0.3
  db:
    image: postgres
    restart: always
    volumes:
      - E:\workspace\mycompany\dbdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    networks:
      hx_net:
        ipv4_address: 172.0.0.4
  adminer:
    image: adminer
    restart: always
    ports:
      - 8050:8080
    networks:
      hx_net:
        ipv4_address: 172.0.0.5
networks:
  hx_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.0.0/16
